*{
	margin: 0px;
	padding: 0px;
	background: #ddf1fa;
	
}

@font-face{
	font-family:micross;
	src:url('fonts/sansation.ttf');
}

p{
	font-family:micross;
}

#copy_write{
	clear: both;
	width: 100vw;
	text-align: center;
	bottom: 5px;
	background: white;

}

#canvas_banner {
	border-bottom: solid 6px #ffffff;
}

#element_list {
	padding-top: 32px;
    max-width: 1200px;
    margin: 0px auto;
	display: block;
}

#element_list .element {
    float: left;
    position: relative;
    width: 200px;
    height: 270px;
    padding-left: 360px;
    margin: 0px 20px 40px;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.5);

}

#element_list .element .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 270px;
}

#element_list .element .title {
    width: 176px;
    padding: 10px 12px;
    font-size: 18px;
    line-height: 22px;
}

#element_list .element .description {
    width: 176px;
    padding: 0px 12px 10px;
    font-size: 14px;
    line-height: 20px;
}

#element_list .element .play_link {
	font-family: micross;
	padding: 10px 12px;
}

#element_list .element .play_video{
    font-family: micross;
	padding-left: 10px;
	padding-top: 10px;
}